# Python practice

### Extra: 2 python 1

### This notebook is optional for the homework

In this notebook there are a few exercises given to practice your Python + data science skills

In [2]:
import pandas as pd

In [3]:
# Select columns using list comprehension and conditionals
# an example is given below

df = pd.read_csv("pokemon.csv")

cols = [col_name for col_name in df.columns if 'attack' in col_name]

df[cols]

     attack  sp_attack
0        49         65
1        62         80
2       100        122
3        52         60
4        64         80
..      ...        ...
796     101        107
797     181         59
798     101         97
799     107        127
800      95        130

[801 rows x 2 columns]

# Select all of the against_type columns

In [ ]:
...

# Select none of the against_type columns

In [ ]:
...